/* ! ****** Custom Properties ****** */
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ! ****** Reset ****** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ! ****** Components ****** */
/* *** btn *** */
.btn {
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.btn-primary {
  background-color: var(--first-color);
  color: var(--white-color);
}

/* *** Carousel *** */
.carousel {
  background-color: var(--carousel-bg-color);
  margin: 2rem auto;
  max-width: 800px;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
}

.carousel input {
  display: none;
}

.carousel .slides {
  animation: carousel-slide 12s ease-in-out 3s;
  display: flex;
  list-style: none;
  padding-left: 0;
  transition: transform 0.5s ease-in-out;
  width: 400%;
  /* 100% por la cantidad de slides que tienes, si sumas otros slide seria 500% */
}

.carousel label {
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 0.75rem;
  margin: 0.25rem;
  width: 0.75rem;
}

#slide-1:checked ~ .slides {
  transform: translateX(0);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--gray-dark-color);
}

@keyframes carousel-slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

/* *** contact form *** */
.contact-form {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
}

.contact-form > * {
  display: block;
  outline: none;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: none;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 0;
  transition: all 0.5s ease-in-out;
  width: auto;
}

.contact-form input[type='submit']:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  fill: var(--first-color);
  margin-top: 1rem;
  height: 4rem;
  width: 4rem;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type='submit'] {
    width: 100%;
  }
}

/* *** Header *** */
.header {
  background-color: var(--second-color);
  bottom: 0;
  height: var(--header-height);
  left: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header-logo {
  color: var(--first-color);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.header-btn {
  background-color: var(--second-color);
  border: none;
  cursor: pointer;
  outline: thin solid var(--first-color);
}

.header-btn svg {
  fill: var(--first-color);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .header {
    height: calc(var(--header-height) - 0.5rem);
    padding: 0.5rem;
    position: sticky;
    top: 0;
  }

  .header-btn {
    display: none;
  }
}

/* *** Hero image *** */
.hero-image {
  background-attachment: var(--attachment);
  background-image: var(--image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-opacity {
  align-items: center;
  background-color: var(--hero-opacity-color);
  display: flex;
  justify-content: center;
  min-height: calc(100vh - (var(--header-height) - 1rem));
  text-align: center;
  width: 100%;
}

.hero-image-title {
  color: var(--hero-text-color);
  font-size: 7.5vw;
}

/* *** Menu *** */
.menu {
  background-color: var(--second-color);
  bottom: var(--header-height);
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: opacity 0.5s ease;
  width: 100%;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu {
    flex-direction: row;
    opacity: 1;
    position: static;
    pointer-events: auto;
    width: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-of-type {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/* *** Modal *** */
.modal {
  align-items: center;
  background-color: var(--black-alpha-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s linear;
  z-index: 999;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-close svg {
  fill: var(--first-color);
  height: 3rem;
  width: 3rem;
}

.modal[id*='trabajo']:target {
  opacity: 1;
  pointer-events: auto;
}

/* *** ProgressBar *** */
progress {
  background-color: var(--gray-color);
  height: 1rem;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}
progress::-moz-progress-value {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* ! ****** Utitilies ****** */

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.bg-gray-light {
  background-color: var(--gray-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.d-none {
  display: none;
}

.gray-scale {
  filter: grayscale(1);
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  color: var(--title-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.text-first-color {
  color: var(--first-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/* ! ****** Site Styles ****** */
.about > article {
  margin-bottom: 2rem;
}

.contact-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 144px;
  justify-content: space-around;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
}

.contact-card > svg {
  height: 2rem;
  width: 2rem;
  fill: var(--first-color);
}

.contact-card > small {
  margin-top: -1rem;
}

.footer {
  background-color: var(--third-color);
  color: var(--white-color);
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
}

header > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.portfolio-card {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.portfolio-card img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.portfolio-card-info {
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  pointer-events: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  border: thin solid var(--white-color);
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.portfolio-modal {
  background-color: var(--white-color);
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem;
}

.portfolio-modal img {
  height: 240px;
  object-fit: cover;
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  color: var(--title-color);
  padding: 0.5rem 0;
  margin: 0.5rem auto;
}

.portfolio-modal p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
}

.portfolio-details b {
  color: var(--first-color);
}

.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card h3 {
  color: var(--title-color);
}

.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}

.social-media a {
  padding: 0 0.4rem;
  text-decoration: none;
}

.social-media svg {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    column-gap: 1rem;
    flex-direction: row;
    max-width: 800px;
  }

  .portfolio-modal img {
    height: 100%;
  }

  .portfolio-info {
    align-self: center;
  }

  .services > .container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
  }

  .services .section-title {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }

  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }
}
